@model IEnumerable<web.Models.TheatreShow>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<div class="row equal-height-row d-flex flex-wrap">
@foreach (var item in Model) {

        <div class="card col-3">
                <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap" height="250px">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">Place: @item.Place</p>
                    <h6>Date: @item.ShowDate</h6>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer">
                <a class="btn btn-dark " asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-info " asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger " asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>

            </div>
}
</div>
</table>
